$primary-color: rgba(255, 239, 231, 1);
$secondary-color: rgba(255, 218, 198, 1);
$tertiary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-color: #FA9500;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 2rem;
$altura_header: 80px;
$padding_left_right: 2rem;
$text-color: #E86424;
